<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Travel"
        tools:targetApi="31">
        <activity
            android:name=".Contact_us"
            android:exported="false" />
        <!-- Main Launcher Activity -->
        <activity
            android:name=".onBoardPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Main Application Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true" /> <!-- Other Activities -->
        <activity
            android:name=".Booking"
            android:exported="false" />
        <activity
            android:name=".aditacc"
            android:exported="false" />
        <activity
            android:name=".foods"
            android:exported="false" />
        <activity
            android:name=".transports"
            android:exported="false" />
        <activity
            android:name=".travelitems"
            android:exported="false" />
        <activity
            android:name=".hotels"
            android:exported="false" />
        <activity
            android:name=".villa"
            android:exported="false" />
        <activity
            android:name=".beachhouse"
            android:exported="false" />
        <activity
            android:name=".camping"
            android:exported="false" />
        <activity
            android:name=".hiking"
            android:exported="false" />
        <activity
            android:name=".beach1"
            android:exported="false" />
        <activity
            android:name=".signup"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
    </application>

</manifest>